.container{
    display: flex;
    flex-wrap: wrap;
}

.container_head{
    background-color: white;
    color: black;
display: flex;
flex-direction: column;
border: black 0.4rem solid;
border-radius: 1rem;
width: fit-content;
min-width: 15rem;
padding: 2rem;
margin: 2rem;
}

.container_head *{
    margin-bottom: 1rem;
}