{% extends "layout.html" %}
{% load static %}

{% block head %}
<link href="{% static 'vote-page.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

<!-- voting svg -->
<div class="flex justify-center items-center">
   <img  src="{%  static 'images/voting.svg' %}" class="mt-24 h-96"> 
</div>

<div class="mt-8 flex justify-center items-center flex-col">
    <p class="text-3xl font-bold text-black">Vote For Your Favorite Team</p>
    <span class="line"></span>
</div>


<!-- cards  -->
<div class="flex flex-row flex-wrap justify-center align-items mb-16"> 
        <!-- here we will put for loop to fetch data from backend  -->
        <div class="bg-white h-80 w-80 rounded-xl border-2 border-slate-200 drop-shadow-xl mx-4 my-4 flex flex-col justify-center items-center">
            <img src="https://i.ytimg.com/vi/Lp7TQjWcqRM/maxresdefault.jpg" alt="img" class="p-2.5 rounded-t-3xl">
            <p class="text-center py-3 text-2xl font-bold">Team Name(project)</p>
            {% csrf_token %}
            <form action="" method="POST">
                <input type="submit" value="VOTE" class="mt-2 vote-btn font-bold">
            </form>
        </div> 
</div>

{% endblock %}